body {
    height: 100vh;
    margin: 0;
    overflow: visible;
    font-family: Roboto,sans-serif;
    display: flex;
    flex-direction: column;
}

.header {

    display: flex;
    justify-content: space-between;
    padding: 1em 13em;
    background-color: #1F2937;
    color: white;
    align-items: baseline;
}

.left-links,
ul {

    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.left-links {
    font-size: 24px;
    font-weight: 900;
}

.right-links ul {
    gap: 1.5em;
}

.contentbox1 {

    display: flex;
    justify-content: center;
    padding: 7em 0;
    background-color: #1F2937;
    color: #E5E7EB;
    align-items: center;
    gap: 2em;
}

.awesome {

    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.ltext1 {

    width: 500px;
}

.contentbox1 .leftcontent1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.contentbox1 .rightcontent1 {
    flex-shrink: 0;
    width: 50%;
}


.image {
    display: flex;
    height: 215px;
    background-color: grey;
    align-items: center;
    justify-content: center;
}

.rtext1 {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.signup {
    width: 120px;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 7px 1em;
}

.contentbox1 .signup {
    border: None;
}

.contentbox2 {

    display: flex;
    padding: 0 13em;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    margin-top: 3em;
}

.randominformation {
    font-size: 36px;
    font-weight: 900;
    align-self: center;
    padding-bottom: 60px;
}

.frames-section {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    gap: .5em;
    
}

.frame-border {
    width: 160px;
    height: 160px;
    border: 4px solid #3882F6;
    background-color: white;
    border-radius: 20px;
}

.frame-content {
    padding-top: 10px;
    width: 180px;
    align-self: center;
}

.contentbox3 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 7em 13em;
}

.contentbox3 p {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1F2937;
}

.contentbox3 em {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}


.contentbox4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.bluebox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.bluebox button {
    border: 2px solid #FFF;
}

strong {
    font-size: 24px;
    color: #FFF;
}

.bbtext2 {
    color: #FFF;
}

.bbsignup {
    font-size: 18px;
    color: red;
    text-decoration: none;
}

footer {
    background-color: #1f2937;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}