body {
    height: 100vh;
    margin: 0;
    overflow: visible;
    font-family: Roboto,sans-serif;
    display: flex;
    flex-direction: column;
}

.header {

    display: flex;
    justify-content: space-between;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 20px;
    background-color: #1F2937;
    color: white;
}

ul {

    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.contentbox1 {

    display: flex;
    justify-content: space-evenly;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 220px;
    padding-bottom: 220px;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

.awesome {

    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.ltext1 {

    width: 500px;
}

.leftcontent1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}

.rightcontent1 {
    width: 500px;
    background-color: grey;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.signup {
    align-items: center;
    width: 150px;
    height: 30px;
    background-color: #3882F6;
}


.contentbox2 {

    display: flex;
    padding-top: 60px;
    padding-bottom: 100px;
    flex-direction: column;
    color: #1F2937;
}

.randominformation {
    font-size: 36px;
    font-weight: bolder;
    align-self: center;
    padding-bottom: 60px;
}

.frames-section {

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.frame-border {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    background-color: white;
    margin: 0 10px;
    border-radius: 8px;
}

.frame-content {
    padding-top: 10px;
    width: 180px;
    align-self: center;
}

.contentbox3 {

    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 150px;
    padding-bottom: 150px;
    align-items: center;
}

.quote {
    width: 800px;
    height: 170px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.thor {
    width: 800px;
    margin-left: auto;
    font-weight: bolder;
}

.contentbox4 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.blueblox {
    display: flex;
    flex-direction: column;
    width: 1000px;
    background-color: #3882F6;
}